<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'webcv/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'webcv/css/style.css' %}">
    <title>contact</title>
</head>
<body>


<div class="container">
    <h1>Address: New Baneshwor</h1>
    <h2>Contact Number: 9866997495</h2>
    <h3>Email: Yagyabhatta02@gmail.com</h3>
</div>

</body>
</html>